<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BlazeDemo.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>F4898C061B3856DF9F015E7EAA7305A4BB3E486F</string>
				<key>dateExpires</key>
				<string>10/18/18</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>2JJZ96P8P5.CA.BlazeDemo</string>
				<key>com.apple.developer.team-identifier</key>
				<string>2JJZ96P8P5</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>2JJZ96P8P5.CA.BlazeDemo</string>
				</array>
			</dict>
			<key>name</key>
			<string>BlazeDemo.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>8fc965eb-ca4a-4b5b-a41d-2940d4eeef56</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: CA.BlazeDemo</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>2JJZ96P8P5</string>
				<key>name</key>
				<string>CA, Inc. (Ent)</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
